@page "/profile/{id}"
@inject NavigationManager NavManager
@layout MainLayout
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using FluffymonPWA.Client.Models

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@if (Id != localId && localId != null)
{
    NavManager.NavigateTo("/error");
}
else
{
    <div>
        @if (user == null)
        {
            <h1>Just a second</h1>
        }
        else
        {<div class="profile-photo">
            <div class="form-container">
                <div class="image-holder"></div>
                <form method="post">
                    <h2 class="text-center"><strong>Profile</strong></h2>
                    <h3>Username: @user.Username</h3>
                    <h3>First Name: @user.FirstName</h3>
                    <h3>Last Name: @user.LastName</h3>
                    <h3>Phone: @user.PhoneNumber</h3>
                    <h3>Email: @user.Email</h3>
                </form>
            </div>
        </div>
        }
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    public string localId { get; set; }
    public string loggedIn { get; set; }

    private User user = new User();


    HttpClient httpClient = new HttpClient()
    {
        BaseAddress = new Uri("https://localhost:44398")
    };

    protected override async Task OnInitializedAsync()
    {
        localId = await localStorage.GetItemAsStringAsync("id");
        loggedIn = await localStorage.GetItemAsStringAsync("authenticated");
        user = await httpClient.GetFromJsonAsync<User>("/api/v1/users/" + localId);
    }
}